@page "/today"

<PageTitle>Today</PageTitle>

<div class="subNav">
    <button type="button" class="collapsible">SCHOOL</button>
    <div class="content">
      <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Teacher's Name</button>
    <div class="content">
      <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Curriculum</button>
    <div class="content">
      <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Students</button>
    <div class="content">
      <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Group Classes</button>
    <div class="content">
      <p>Lorem ipsum...</p>
    </div>
</div>

<DrawingBoard></DrawingBoard>